body {
    background-color: hsl(212, 45%, 89%);
    font-family: Outfit;
}

h1 {
    font-weight: 700;
    font-size: 15px;
}

p {
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    font-size: 10px;
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 275px;
    width: 175px;
    padding: 12px;
    background-color:white;
    text-align: center;
    border-radius: 12px;
}

img {
    height: 175px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
}